<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezchat</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Bootstrap CSS (optional) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ezchat.css">
</head>

<body class="bg-gradient-to-r from-blue-100 via-indigo-300 to-indigo-600">
    <nav>
        <img class="logo" src="images/meetme.png" alt="logo.png">
    </nav>
    <div class="container">
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message left"><b>You:</b> im fine</div>
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message right"><b>Rundan:</b> Hey! how r u?</div>
        <div class="message left"><b>You:</b> fine re baba</div>
    </div>
    <div class="send">
        <form onsubmit="saveMessage(event)" action="" class="send-container">
            <input type="text" name="mssgInput" id="mssgInput">
            <button type="submit" class="btn"><b>Send</b></button>
        </form>
    </div>

    <script src="js/ezchat.js"></script>
</body>

</html>

